@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    box-sizing: border-box;
    background-color: #ffe0e9;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.capsule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    /* border: #212529 solid 1px; */
    border-radius: 10px;
}

.capsule h1 {
    color: #212529;
    margin-top: 10%;
    text-shadow: #6c757d -2px 2px 3px, #adb5bd 0 0 0.5em;
    letter-spacing: 1px;
    font-size: 48px;
}

.capsule h2 {
    color: #212529;
    letter-spacing: 1px;
    font-size: 32px;
    text-shadow: #6c757d -2px 2px 3px;
}

a {
    text-decoration: none;
    color: #ffe0e9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: #c9184a solid 1px;
    box-shadow: 0 2px 1px #c9184a;
}

.header a {
    background-color: #6c757d;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    list-style-type: none;
    margin-left: 15px;
    background-color: #6c757d;
    color: #ffe0e9;
    padding: 2px;
    border-radius: 5px;
}

.heading {
    font-weight: bold;
    font-size: 32px;
    color: #212529;
    text-align: center;
}

.btn {
    background-color: #212529;
    color: #ffe0e9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    width: 70%;
    padding: 7px;
    cursor: pointer;
    margin-bottom: 3%;
    font-size: 16px;
    box-shadow: 2px 2px 1px #c9184a;
}

.btn-reverse {
    background-color: #6c757d;
}

.btn-back {
    width: 75px;
    padding: 5px;
    margin-top: 15px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn:disabled {
    text-decoration: line-through;
    transform: none;
    cursor: default;
}

.btn-sm {
    width: 45%;
    padding: 5px;
    margin-right: 7px;
    font-size: 12px;
    background-color: rgba(33, 37, 41, 0.8);
    /* display: inline; */
}

.btn-sm:focus {
    background-color: rgba(33, 37, 41, 0.9);
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.btn-close:hover {
    color: #ff0000;
    transform: scale(0.98);
}

.btn-danger:hover {
    background-color: #c9184a;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 12px;
}

.button-container .btn {
    justify-self: center;
}

#confirm-delete {
    font-weight: 500;
}

.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: #212529 solid 1px; */
}

.form-group {
    /* border: #212529 solid 1px; */
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    color: #212529;
    margin-top: 7px;
}

.form-group input,
.form-group .date-picker {
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 1px #c9184a;
    background-color: transparent;
    width: 97%;
}

.form-group .date-picker {
    /* border: #212529 solid 1px; */
    padding: 25px;
    margin-top: 15px;
}

.form-group .date-picker input {
    box-shadow: none;
    height: max-content;
    width: max-content;
}

.form-group .btn {
    margin: 0 auto;
}

.calendarDiv {
    max-height: 172px;
    display: flex;
    flex-direction: column;
}

.calendarDiv div:last-child {
    max-height: 140px;
}

.calendarDiv div:last-child div button {
    padding: 7px;
}

.categoryDiv {
    display: flex;
    /* border: #212529 solid 1px; */
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* flex-basis: content; */
}

@media (max-width: 600px) {
    .categoryDiv {
        flex-wrap: wrap;
    }
}

.stockItemsContainer h1 {
    text-align: center;
}

.stock-item,
.stockItemHeadings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 7px;
    border-radius: 5px;
    text-align: center;
}

.stockItemHeadings {
    font-weight: 700;
}

nav ul {
    justify-content: center;
}

.spinnerContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
